.grid-33
  .app--section
    ul.app--message--list
      li 
        ul.app--message--conversation 
          for message in messages
            if message.sender.name === user.name
              li.app--message--me
                .app--avatar(style='background-image: url(' + message.sender.profile_image_url + ')')
                  img(src= message.sender.profile_image_url)
                p.app--message--text #{message.text}
                p.app--message--timestamp @#{message.sender.screen_name} #{message.created_at} ago
            else
              li.app--message
                .app--avatar(style='background-image: url(' + message.sender.profile_image_url + ')')
                  img(src= message.sender.profile_image_url)
                p.app--message--text #{message.text}
                p.app--message--timestamp @#{message.sender.screen_name} #{message.created_at} ago